.product-list table {
  width: 100%;
}

.product-list tr:nth-child(even) {
  background-color: #f7f7f7;
}

.product-list td:first-child {
  display: flex;
  align-items: center;
}

.product-list img {
  margin-right: 20px;
}

.product-list {
  width: 100%;
}

.product-list a {
  color: black;
  text-decoration: none;
}

.match {
  padding: 5px;
  border-radius: 10px;
}

.ok-match {
  background: #ffeb3b;
}

.bad-match {
  background: #ef5350;
}

.good-match {
  background: #8bc34a;
}
