.product-list table {
  width: 100%;
}

.product-list td:first-child {
  display: flex;
  align-items: center;
}

.product-list img {
  margin-right: 20px;
}

.product-list {
  width: 100%;
}

.product-list a {
  color: black;
  text-decoration: none;
}

.match {
  padding: 5px;
  border-radius: 10px;
}

.ok-match {
  background: #fffd96;
}

.bad-match {
  background: #ff96a5;
}

.good-match {
  background: #adff96;
}
