.Modal-background {
  background: rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.Modal {
  background-image: url("./mockup.PNG");
  padding: 40px;
  height: 359px;
  width: 859px;
  background: #fff;
  margin: auto;
  margin-top: 10%;
}