.App {
  text-align: center;
}

.App-header {
  display: flex;
  font-size: 24px;
  padding: 20px 40px;
  background:#000;
  color:#FFF;
}

.Container {
  display: flex;
  padding: 30px;
  margin-left: 250px;
}

@media only screen and (max-width: 1200px) {
  .Menu {
    display: none;
  }
  .Container {
    display: flex;
    padding: 30px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1010px) {
  .Tracker-container {
    flex-direction: column;
  }
  .Modal {
    margin-top: 20%;
  }
}